.ul,.of-tree {
    margin-left: 25px;
}


.li,.of-tree__item {
    
}

.of-tree__content {
    padding: 5px;
    min-height: 15px;
}

.of-tree__item > .mdl-list__item-primary-content > .material-icons,.mdl-list__item-icon {
    font-size: 16px;
}

.of-tree__hidden {
    display: none;
}

.of-tree__selected {
    /*
    background-color: #b3d4fc;
    border: 1px solid #303f9f;
    border-radius: 3px;
    padding: 3px;
    */
}
