<div class="card file-manager-item folder">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="customCheck1" />
        <label class="form-check-label" for="customCheck1"></label>
    </div>
    <div class="card-img-top file-logo-wrapper">
        <div class="dropdown float-end">
            <i data-feather="more-vertical" class="toggle-dropdown mt-n25"></i>
        </div>
        <div class="d-flex align-items-center justify-content-center w-100">
            <i data-feather="folder"></i>
        </div>
    </div>
    <div class="card-body">
        <div class="content-wrapper">
            <p class="card-text file-name mb-0 flexo-project-name">Projects</p>
            <p class="card-text file-size mb-0">2gb</p>
            <p class="card-text file-date">01 may 2019</p>
        </div>
        <small class="file-accessed text-muted">Last accessed: 21 hours ago</small>
    </div>
</div>