<div class="col-lg-3 col-md-6 col-12">
    <div class="card shadow-none border cursor-pointer">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <img src="./app-assets/images/icons/database.png" alt="google drive" height="38" />
                <div class="dropdown-items-wrapper">
                    <i data-feather="more-vertical" id="dropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink1">
                        <a class="dropdown-item" href="#">
                            <i data-feather="refresh-cw" class="me-25"></i>
                            <span class="align-middle">Refresh</span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <i data-feather="settings" class="me-25"></i>
                            <span class="align-middle">Manage</span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <i data-feather="trash" class="me-25"></i>
                            <span class="align-middle">Delete</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="my-1">
                <h5 class="flexo-rc-name"></h5>
            </div>
            <div class="d-flex justify-content-between mb-50">
                <span class="text-truncate">35GB Used</span>
                <small class="text-muted">50GB</small>
            </div>
            <div class="progress progress-bar-warning progress-md mb-0" style="height: 10px">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="70" aria-valuemax="100" style="width: 70%"></div>
            </div>
        </div>
    </div>
</div>