.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons/*.md-dark*/ { 
    color: rgba(0, 0, 0, 0.54); 
    padding-top: 5px;
}

.material-icons/*.md-dark*/.md-inactive { color: rgba(0, 0, 0, 0.26); }

.details {
    border-radius: 5px;
    border: lightgray solid 1px;
    background-color: #efefef;
    
    margin: 5px;
    padding: 10px;

    width:fit-content; width:-webkit-fit-content; width:-moz-fit-content;
    display: none;
}

.type {
    font-style: italic;
}

.title {
    font-size: larger; 
    font-weight: bold; 
}

.item > .label {
    font-size: normal;
}

.label > .status {
    display: inline-block;
    width: 30px;
}

.item > .children {
    margin-left: 15px;
}

.label > .material-icons {
    display: inline;
}

.label > span {
    vertical-align: middle;
}