
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.of-client .of-logo-image {
  height: 127px;
}

.of-client .mdl-layout__header-row {
  padding-left: 40px;
}
.of-client .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
  font-size: inherit;
}

/* ************************************************************* */
/* Breadcrumbs */

.of-client .of-breadcrumbs {
  margin-left: 20px;
}

/* ************************************************************* */
/* Tab bar */

.of-client .mdl-layout__tab-bar-button {
  display: none;
}
.of-client .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
  display: none;
}
.of-client .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.of-client .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
  overflow: visible;
}
.of-client .mdl-layout__tab-bar-container {
  height: 64px;
}
.of-client .mdl-layout__tab-bar {
  padding: 0;
  padding-left: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.of-client .mdl-layout__tab-bar .mdl-layout__tab {
  height: 64px;
  line-height: 64px;
}

.of-client .mdl-layout.is-upgraded .mdl-layout__tab {
    color: white;
}
.of-client .mdl-layout.is-upgraded .mdl-layout__tab.is-active {
    color: white;
}

.of-client .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
  background-color: white;
  height: 4px;
}

/* ************************************************************* */
/* Tab panel */

.of-client main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
}

/* ************************************************************* */
/* Card */

.of-client .mdl-card {
  height: auto;
  display: flex;
  flex-direction: column;
}
.of-client .mdl-card > * {
  height: auto;
}
.of-client .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}
.of-client.of-client .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
.of-client .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}
.of-client .mdl-card__actions a {
  margin: 0;
}
.of-client .mdl-card__actions a:hover,
.of-client .mdl-card__actions a:active {
  color: inherit;
  background-color: transparent;
}
.of-client .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

/* ************************************************************* */
/* TODO */

.of-client .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}
.of-client section.section--center {
  max-width: 860px;
}
.of-client #features section.section--center {
  max-width: 620px;
}
.of-client section > header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.of-client section > .section__play-btn {
  min-height: 200px;
}
.of-client section > header > .material-icons {
  font-size: 3rem;
}
.of-client section > button {
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}
.of-client section .section__circle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 1;
}
.of-client section .section__text {
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 8px;
}
.of-client section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}
.of-client section .section__text a {
  text-decoration: none;
}
.of-client section .section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
}
.of-client section.section--footer .section__circle--big {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px 32px;
}
.of-client .is-small-screen section.section--footer .section__circle--big {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 8px 16px;
}
.of-client section.section--footer {
  padding: 64px 0;
  margin: 0 -8px -8px -8px;
}
.of-client section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.13);
}
.of-client .mdl-card .mdl-card__supporting-text > h3:first-child {
  margin-bottom: 24px;
}
.of-client .mdl-menu__container {
  z-index: 99;
}
